body {
    background-color: #3A2078  
}
#main {
    width: 1000px;
    height: 600px;
    margin:
    border:
}

h1, h2 {
    text-align: center;
    font-family: 'Patrick Hand', cursive;
	color: #F7F7F7  
}

p {
	text-align: center;
    font-family: 'Patrick Hand', cursive;
	color: #F7F7F7
}

.topnav {
    background-color: #24144D;
	font-family: 'Architects Daughter', cursive;
    overflow: hidden;
}


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.active {
    background-color: #532DAE;
    color: white;
}


.topnav .icon {
    display: none;
}